._6,
._6 * {
  box-sizing: border-box;
}
._6 {
  height: 1280px;
  position: relative;
}
.background {
  background: #ffffff;
  width: 1960px;
  height: 1280px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle-2 {
  background: #3f8ae2;
  border-radius: 75px;
  width: 248px;
  height: 70px;
  position: absolute;
  left: 418px;
  top: 605px;
}
.rectangle-5 {
  background: #3f8ae2;
  border-radius: 75px;
  width: 248px;
  height: 70px;
  position: absolute;
  left: 1293px;
  top: 605px;
}
.rectangle-3 {
  background: rgba(63, 138, 226, 0);
  border-radius: 24px;
  border-style: solid;
  border-color: #3f8ae2;
  border-width: 4px;
  width: 219px;
  height: 359px;
  position: absolute;
  left: 729px;
  top: 446px;
}
.rectangle-4 {
  background: rgba(63, 138, 226, 0);
  border-radius: 24px;
  border-style: solid;
  border-color: #3f8ae2;
  border-width: 4px;
  width: 219px;
  height: 145px;
  position: absolute;
  left: 1011px;
  top: 551px;
}
.div {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 484px;
  top: 625px;
}
.div2 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 1359px;
  top: 625px;
}
.div3 {
  color: #3f8ae2;
  text-align: center;
  font-family: "Inter-Light", sans-serif;
  font-size: 16px;
  font-weight: 300;
  position: absolute;
  left: 450px;
  top: 681px;
}
.div4 {
  color: #0d0d0d;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  left: 756px;
  top: 511px;
}
.div5 {
  color: #0d0d0d;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  left: 756px;
  top: 545px;
}
.div6 {
  color: #0d0d0d;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  left: 756px;
  top: 579px;
}
.div7 {
  color: #0d0d0d;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  left: 756px;
  top: 613px;
}
.div8 {
  color: #0d0d0d;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  left: 756px;
  top: 647px;
}
.div9 {
  color: #0d0d0d;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  left: 756px;
  top: 681px;
}
.div10 {
  color: #0d0d0d;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  left: 756px;
  top: 715px;
}
.div11 {
  color: #0d0d0d;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  left: 756px;
  top: 749px;
}
.div12 {
  color: #3f8ae2;
  text-align: center;
  font-family: "Inter-Light", sans-serif;
  font-size: 16px;
  font-weight: 300;
  position: absolute;
  left: 747px;
  top: 820px;
}
.div13 {
  color: #3f8ae2;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 816px;
  top: 467px;
}
.div14 {
  color: #3f8ae2;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 1062px;
  top: 560px;
}
.check-box {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 897px;
  top: 543px;
  overflow: visible;
}
.check-box-outline-blank {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 897px;
  top: 509px;
  overflow: visible;
}
.div15 {
  color: #0d0d0d;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  left: 1037px;
  top: 613px;
}
.div16 {
  color: #0d0d0d;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  left: 1037px;
  top: 647px;
}
.check-box2 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 1178px;
  top: 645px;
  overflow: visible;
}